vendor/composer/
vendor/bin/
vendor/doctrine/
vendor/phpdocumentor/
vendor/phpspec/
vendor/phpunit/
vendor/sebastian/
vendor/symfony/
vendor/webmozart/
composer.lock
doc
output
.idea
.buildpath
.project
.settings
